.m0 {
  margin: 0;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.p0 {
  padding: 0;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
.ma {
  margin: 2.5em;
}
.mt {
  margin-top: 2.5em;
}
.mr {
  margin-right: 2.5em;
}
.mb {
  margin-bottom: 2.5em;
}
.ml {
  margin-left: 2.5em;
}
body {
  font-family: 'Lato', Verdana;
  max-width: 100%;
}
.header {
  text-align: center;
}
.header a {
  display: block;
  padding: 0.5em 1em;
}
.header img {
  max-width: 470px;
}
a {
  color: #222;
  white-space: nowrap;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #a2a2a2;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
nav {
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #808b91;
  font-family: 'Lato', Verdana;
  font-weight: normal;
  color: #222;
  font-size: 15px;
}
@media only screen and (min-width: 992px) {
  nav {
    margin-top: 2.5em;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  nav {
    font-size: 16.5px;
  }
}
@media only screen and (min-width: 1200px) {
  nav {
    font-size: 18px;
  }
}
nav ul {
  list-style: none;
  white-space: nowrap;
  padding: 0;
  max-height: 56px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  nav ul {
    text-align: left;
  }
}
nav ul li {
  display: inline-block;
}
nav ul.navig li:last-child a {
  border-right: none;
}
nav ul.navig li a {
  padding: 5px 15px;
  transition: all 0.2s ease-out;
  border-right: 1px solid #d2d6d8;
}
@media only screen and (min-width: 768px) {
  nav ul.navig li a {
    padding: 0 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  nav ul.social {
    text-align: right;
    margin-right: 30px;
  }
}
nav ul.social li a {
  padding: 0 10px;
  transition: all 0.2s ease-out;
  font-family: 'Lato', Verdana;
  font-weight: normal;
  color: #222;
  font-size: 23px;
}
@media only screen and (min-width: 768px) {
  nav ul.social li a {
    font-size: 23px;
  }
}
@media only screen and (min-width: 992px) {
  nav ul.social li a {
    font-size: 25.3px;
  }
}
@media only screen and (min-width: 1200px) {
  nav ul.social li a {
    font-size: 27.6px;
  }
}
@media only screen and (min-width: 768px) {
  nav ul.social li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.content {
  margin-top: 2.5em;
  font-family: 'Lato', Verdana;
  font-weight: normal;
  color: #222;
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .content {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .content {
    font-size: 24px;
  }
}
.content .post:not(:first-child) {
  margin-top: 2.5em;
}
.content .title {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .content .title {
    text-align: left;
  }
}
.content .title div.sub {
  color: #7b7b7b;
  margin: .5em 0;
}
@media only screen and (min-width: 768px) {
  .content .title div.sub {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2.5em;
    display: inline-block;
    text-align: left;
  }
}
.content p {
  font-family: 'Lato', Verdana;
  font-weight: normal;
  color: #222;
  font-size: 17px;
}
@media only screen and (min-width: 768px) {
  .content p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 992px) {
  .content p {
    font-size: 18.7px;
  }
}
@media only screen and (min-width: 1200px) {
  .content p {
    font-size: 20.4px;
  }
}
.content p a {
  color: #6ba7db;
}
.footer .copy {
  text-align: center;
}
